@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на</h1>
    <img src="~/img/logo.jpg" class="img-fluid">
    <h1 class="text-secondary display-4">SkyrimWiki</h1>
    <p>
        Не смогли выполнить задание или вас интересует история игрового персанажа?
    </p>
    <p>
        Здесь вы сможете найти всю необходимую вам информацию.
    </p>
</div>
